src/flows/ID_V-17.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>AC_Adapter_not_charging</name>
        <choiceText>AC Adapter not charging *</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AC Adapter not charging *</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keyboard</name>
        <choiceText>Projector</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keyboard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Laptop_Display</name>
        <choiceText>Display</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Laptop Display</stringValue>
        </value>
    </choices>
    <choices>
        <name>Memory</name>
        <choiceText>Sound</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Memory</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_POST</name>
        <choiceText>No POST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No POST</stringValue>
        </value>
    </choices>
    <choices>
        <name>Power_Supply</name>
        <choiceText>Power Supply *</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Power Supply *</stringValue>
        </value>
    </choices>
    <choices>
        <name>Screen_has_no_power</name>
        <choiceText>Screen has no power</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No power</stringValue>
        </value>
    </choices>
    <choices>
        <name>The_Boardroom</name>
        <choiceText>The Boardroom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Boardroom</stringValue>
        </value>
    </choices>
    <choices>
        <name>The_Earbuds</name>
        <choiceText>The Earbuds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Earbuds</stringValue>
        </value>
    </choices>
    <choices>
        <name>The_Headphones</name>
        <choiceText>The Headphones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Headphones</stringValue>
        </value>
    </choices>
    <choices>
        <name>The_Huddle</name>
        <choiceText>The Huddle *</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Huddle *</stringValue>
        </value>
    </choices>
    <choices>
        <name>The_Offsite</name>
        <choiceText>The Offsite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Offsite</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verification_Successful</name>
        <choiceText>Verification Successful</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Wireless_Adapter</name>
        <choiceText>Wireless Adapter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wireless Adapter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>New_deContactId</name>
        <label>New_Does Contact Exist</label>
        <locationX>100</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>New_quConfirmRightDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Contact Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_DoB_Success_or_Not</name>
        <label>New_DoB Success or Not</label>
        <locationX>568</locationX>
        <locationY>28</locationY>
        <defaultConnector>
            <targetReference>New_Confirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Incorrect_DoB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MonthInput</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vaMonth</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>YearInput</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>YearInput</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_quConfirm</targetReference>
            </connector>
            <label>Incorrect DoB</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Month</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Month_of_Birth__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Year</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Year_of_Birth__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>id&amp;V {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ID&amp;V</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>New_Birthdate_Lookup</name>
        <label>New_Birthdate Lookup</label>
        <locationX>566</locationX>
        <locationY>259</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_DoB_Success_or_Not</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lastname</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year_of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year_of_Birth</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vaContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MonthInput</assignToReference>
            <field>Month_of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>YearInput</assignToReference>
            <field>Year_of_Birth__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>New_rlContact</name>
        <label>New_Contact Lookup</label>
        <locationX>100</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_deContactId</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Firstname</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lastname</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vaAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaBirthdate</assignToReference>
            <field>Birthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaCountry</assignToReference>
            <field>MailingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaPostCode</assignToReference>
            <field>MailingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaState</assignToReference>
            <field>MailingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaStreetAddress</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaMonth</assignToReference>
            <field>Month_of_Birth__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vaPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>New_Confirmed</name>
        <label>New_Postcode Check</label>
        <locationX>874</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Open_Contact</targetReference>
        </connector>
        <fields>
            <name>Verified</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Postcode Verification&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Finally ask the caller to verify their postcode:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!vaPostCode}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Acknowledge you are satisfied with the verification before proceeding.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;All access to the records and their changes are tracked.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &lt;B&gt;&amp;apos;Next&amp;apos;&lt;/B&gt; to open the contact record.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>New_quConfirm</name>
        <label>New_Capture Contact Name</label>
        <locationX>101</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_rlContact</targetReference>
        </connector>
        <fields>
            <name>Step1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Ask caller for both of the following:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step1Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Confirm that the contact exists:&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Firstname</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vaFirstName</elementReference>
            </defaultValue>
            <fieldText>Firstname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lastname</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vaLastName</elementReference>
            </defaultValue>
            <fieldText>Lastname</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>New_quConfirmRightDetails</name>
        <label>New_Capture DoB</label>
        <locationX>344</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Birthdate_Lookup</targetReference>
        </connector>
        <fields>
            <name>ConfirmTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Verify the Caller&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmBody</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Name:&lt;/B&gt; {!vaFirstName} {!vaLastName} &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ask</name>
            <fieldText>Ask the customer for their month and year of birth.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Month_of_Birth</name>
            <choiceReferences>Month</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Month of Birth</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Year_of_Birth</name>
            <choiceReferences>Year</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Year of Birth</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Open_Contact</name>
        <label>Open_Contact</label>
        <locationX>879</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OpenRecord</name>
            <fieldText>&lt;a href=&quot;/console#%2F{!vaContactId}%3FsrPos%3D0%26srKp%3D003&quot; target=&quot;top&quot;&gt;View {!Firstname} {!Lastname}&amp;#8217;s contact record&lt;/a&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>New_quConfirm</startElementReference>
    <variables>
        <name>Maiden</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MonthInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaBirthdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vaCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaMaiden</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaMonth</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>YearInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
