src/flows/Register_Product-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrieve_Contact_ID</name>
        <label>Retrieve Contact ID</label>
        <locationX>118</locationX>
        <locationY>11</locationY>
        <actionName>CommunityWorkflowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Contact_ID_Specified</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>vContactId</assignToReference>
            <name>ContactId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Not_Operational</name>
        <label>Not Operational</label>
        <locationX>595</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>vAssetStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cProductStatusRegistered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Operational</name>
        <label>Product Operational</label>
        <locationX>500</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>vAssetStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cProductStatusOperational</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Asset_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>lblInstalled</name>
        <choiceText>Yes: Installed and operational</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>lblNotInstalled</name>
        <choiceText>No: Not installed or operational</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <constants>
        <name>cProductQtyDefault</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>cProductStatusOperational</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Installed</stringValue>
        </value>
    </constants>
    <constants>
        <name>cProductStatusRegistered</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Registered</stringValue>
        </value>
    </constants>
    <constants>
        <name>cTrue</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Account_Id</name>
        <label>Check Account Id</label>
        <locationX>274</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Sorry_No_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Account Id</defaultConnectorLabel>
        <rules>
            <name>Has_Account_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Details</targetReference>
            </connector>
            <label>Has Account Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Status</name>
        <label>Check Product Status</label>
        <locationX>275</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Not_Operational</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Installed</defaultConnectorLabel>
        <rules>
            <name>Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lblIs_the_product_operational</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cTrue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Operational</targetReference>
            </connector>
            <label>Installed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_ID_Specified</name>
        <label>Is Contact ID Specified</label>
        <locationX>118</locationX>
        <locationY>110</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact ID Specified</defaultConnectorLabel>
        <rules>
            <name>No_Contact_ID_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sorry_No_Contact</targetReference>
            </connector>
            <label>No Contact ID Specified</label>
        </rules>
    </decisions>
    <description>Allows a community user to register a product as an asset in the community.</description>
    <dynamicChoiceSets>
        <name>GetActiveProducts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>vSelectedProduct</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSelectedProductName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Register Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Register Product</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Asset_Record</name>
        <label>Create Asset Record</label>
        <locationX>591</locationX>
        <locationY>250</locationY>
        <assignRecordIdToReference>vAssetId</assignRecordIdToReference>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>lblDescription_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>lblInstallation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vSelectedProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>vSelectedProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseDate</field>
            <value>
                <elementReference>Purchase_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>cProductQtyDefault</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>lblSerial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>vAssetStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>122</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>vAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Asset_Details</name>
        <label>Register Your Product</label>
        <locationX>274</locationX>
        <locationY>315</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrConfirmInstall</targetReference>
        </connector>
        <fields>
            <name>lblChoose_Your_Product</name>
            <choiceReferences>GetActiveProducts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Your Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Select the product you&apos;d like to register.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Purchase_Date</name>
            <dataType>Date</dataType>
            <fieldText>Purchase Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblSerial_Number</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblDescription_Notes</name>
            <fieldText>Description / Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Your_Contact_Info</name>
            <fieldText>Your Contact Information:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>752</locationX>
        <locationY>352</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDetails</name>
            <fieldText>Sorry, but an error has occurred. Support has been notified.

Details:
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>scrConfirmInstall</name>
        <label>Confirm Installation Details</label>
        <locationX>276</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Product_Status</targetReference>
        </connector>
        <fields>
            <name>txtInstallationInstructions</name>
            <fieldText>Tell us a bit about the installation of your product.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lblInstallation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Installation Date (Approximate)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lblIs_the_product_operational</name>
            <choiceReferences>lblInstalled</choiceReferences>
            <choiceReferences>lblNotInstalled</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>lblNotInstalled</defaultSelectedChoiceReference>
            <fieldText>Is the product operational?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Sorry_No_Contact</name>
        <label>Sorry</label>
        <locationX>523</locationX>
        <locationY>91</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoContactText</name>
            <fieldText>Sorry, we couldn&apos;t retrieve your company information. Support has been informed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>754</locationX>
        <locationY>248</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouMessage</name>
            <fieldText>Thank you! Your product has been registered, and will be reviewed for Support.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Retrieve_Contact_ID</startElementReference>
    <variables>
        <description>Account record Id of the currently logged-in user.</description>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record ID of the asset being created by this flow.</description>
        <name>vAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vAssetStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact record ID of the currently logged-in user.</description>
        <name>vContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the product selected to register.</description>
        <name>vSelectedProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSelectedProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the user record ID of the currently logged-in user.</description>
        <name>vUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
